body {
    background-color: #222831;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

div {
    /* border: 2px solid purple; */
}

#divline {
    border: 1px solid #393e46;
}

nav {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: hsla(216, 18%, 16%, 0.98);
    top: 0;
    z-index: 1000;
}

#nav_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_button {
    text-decoration: none;
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2rem;
    height: 100vh;           
    padding: 20px;
    box-sizing: border-box; 
}

#homeheader {
    font-size: 96px;
    line-height: 96px;
    text-transform: uppercase;
}

#home_arrow {
    position:absolute;
    top: 375px;
    left: 100px;
    transform: rotate(-10deg);
}

#home_div {
    margin-bottom: 10rem;
}

#home_div .button_div {
    margin-bottom: 15%
}

#home_image_div {
    max-width: 500px;
    /* width: 1000px; */
}

.blue_button {
    background-color: #00ADB5;
    color: white;
}

.grey_button {
    background-color: #393e46;
    color: white;
}

.btn {
    height: 40px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.blue_text_color {
    color: #00ADB5;
}